.layout-add-point {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.columna-mapa, .columna-formulario {
    flex: 1;
    min-width: 350px;
}

#coords-feedback {
    margin-top: 1em;
    color: var(--color-texto-secundario);
    font-style: italic;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

form label {
    font-weight: bold;
    color: var(--color-texto-secundario);
    text-align: left;
}

.report-type-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: var(--color-fondo);
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid var(--color-borde);
}

.report-type-selector label {
    cursor: pointer;
    padding: 0.7em;
    border-radius: 6px;
    text-align: center;
    transition: all 0.3s ease;
}

.report-type-selector input[type="radio"] {
    display: none; 
}

.report-type-selector input[type="radio"]:checked + label {
    background-color: var(--color-acento);
    color: #fff;
    font-weight: bold;
}

fieldset {
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    padding: 1.5em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form input[type="text"],
form input[type="time"],
form input[type="datetime-local"],
form select,
form textarea {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-borde);
    color: var(--color-texto-principal);
    padding: 0.8em;
    border-radius: 6px;
    font-family: var(--fuente-principal);
    font-size: 1em;
    width: 100%;
}

.boton-enviar {
    background-color: var(--color-acento);
    color: #ffffff;
    border: none;
    padding: 1em;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1em;
}

.boton-enviar:hover {
    background-color: #4a91da;
    transform: translateY(-2px);
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: var(--color-acento);
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-acento) 20%, transparent);
    outline: none;
}