.layout-container-autor {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    align-items: center;
}

.columna-foto {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
}

.columna-foto img {
    max-width: 100%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: var(--sombra-suave);
}

.columna-texto {
    flex: 2;
    min-width: 300px;
}