#contenido-descripcion ul {
    list-style: none;
    padding-left: 0;
}

#contenido-descripcion ul li {
    background-color: var(--color-superficie);
    border-left: 5px solid var(--color-primario-claro);
    padding: 1em 1.5em;
    margin-bottom: 1em;
    border-radius: 0 8px 8px 0; 
}

#contenido-descripcion ul li strong {
    color: var(--color-primario);
    display: block;
    margin-bottom: 0.3em;
    font-size: 1.1em;
}