<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - UrbFlow</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/acerca-estilos.css">
</head>
<body>

        <header>
        <div class="header-container">
            <a href="index.html" class="logo-link">
                <img src="../static/svg/logo.svg" alt="Logo de UrbFlow" class="header-logo">
            </a>
            <h1>UrbFlow: Análisis de Transporte en Soacha</h1>
        </div>
    </header>

    <nav class="navbar">
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="descripcion.html">Descripción</a></li>
                <li><a href="autor.html">Autor</a></li>
                <li><a href="add-point.html">Añadir Punto</a></li>
            </ul>
    </nav>
    
    <main>
        <div class="titulo-burbuja">
            <h2>Acerca de Este Proyecto</h2>
        </div>

        <div class="layout-container">
            <div class="column" id="texto-acerca">
                <h3>Motivación y Contexto</h3>
                <p>Este proyecto surge de la observación directa y la experiencia de los desafíos diarios que enfrentan los residentes de Soacha. La hora pico nocturna se convierte en un periodo crítico donde la eficiencia del sistema de transporte se ve severamente comprometida.</p>
                <h3>Objetivos</h3>
                <ul>
                    <li>Analizar los patrones de distribución y circulación de las busetas.</li>
                    <li>Identificar los cuellos de botella y puntos de mayor congestión.</li>
                    <li>Evaluar el impacto en los tiempos de espera y viaje de los usuarios.</li>
                </ul>
            </div>
            <div class="column" id="mapa-acerca-container">
                <h3>Visualización Geográfica del Área de Estudio</h3>
                <div id="mapAcerca"></div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 - Juan David Acosta Rodríguez</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/js/mapa-acerca.js"></script>
</body>
</html>