<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autor - UrbFlow</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/autor-estilos.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="index.html" class="logo-link">
                <img src="../static/svg/logo.svg" alt="Logo de UrbFlow" class="header-logo">
            </a>
            <h1>UrbFlow: Análisis de Transporte en Soacha</h1>
        </div>
    </header>

    <nav class="navbar">
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="descripcion.html">Descripción</a></li>
                <li><a href="autor.html">Autor</a></li>
                <li><a href="add-point.html">Añadir Punto</a></li>
            </ul>
    </nav>

    <main>
        <div class="titulo-burbuja animacion-entrada">
            <h2>Sobre el Autor</h2>
        </div>

        <section class="contenido-principal layout-container-autor animacion-entrada">
            <div class="columna-foto animacion-entrada">
                <img src="../static/img/img.jpg" alt="Foto de Juan David Acosta Rodríguez">
            </div>
            <div class="columna-texto animacion-entrada">
                <h3>Juan David Acosta Rodríguez</h3>
                <p>Actualmente, soy estudiante de <strong>Ingeniería Catastral y Geodesia</strong> en la Universidad Distrital, cursando el tercer semestre. Me apasiona la programación y las TICs, y formo parte activa del semillero de investigación <strong>AstroIngeniería</strong>, donde exploramos e investigamos sobre astronomía y geociencias.</p>
                
                <div class="redes-profesionales animacion-entrada">
                    <h4>Visita mi perfil:</h4>
                    <a href="https://github.com/64david64" class="github-link" target="_blank" rel="noopener noreferrer">
                        <img src="../static/img/tech/github.png" alt="Logo de GitHub">
                        <span>Ver en GitHub</span>
                    </a>
                    </div>
            </div>
        </section>

        <section class="contenido-principal animacion-entrada">
            <h3>Mi Alma Máter: Universidad Distrital</h3>
            <div id="mapaUniversidad" class="map-container"></div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 - Juan David Acosta Rodríguez</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/js/mapa-autor.js"></script>
</body>
</html>