<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbFlow - Análisis de Transporte en Soacha</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <header>
        <h1>UrbFlow: Análisis de Transporte en Soacha</h1>
    </header>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="index.html" class="active">Inicio</a></li>
            <li><a href="acerca.html">Acerca de</a></li>
            <li><a href="descripcion.html">Descripción</a></li>
            <li><a href="autor.html">Autor</a></li>
        </ul>
    </nav>

    <main>
        <div class="titulo-burbuja">
            <h2>Mala distribución y circulación de busetas (alimentadores de servicio público) durante la hora pico nocturna en el municipio de Soacha, Cundinamarca. Colombia.</h2>
        </div>

        <section class="contenido-principal">
            <p>
                Los residentes del barrio Ciudad Verde en Soacha, Cundinamarca, experimentan una significativa congestión en el transporte público, específicamente en las rutas circulares de busetas que tienen su paradero principal cerca de la estación Terreros de TransMilenio. Durante la hora pico nocturna, se presenta una mala distribución y circulación de las busetas de servicio público.
            </p>
            <div id="map" class="map-container"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 - Juan David Acosta Rodríguez</p>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/js/programa.js"></script>
</body>
</html>